<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>


<% content_for :bodyIndex do %>
  <body id="bodyIndex">
<% end %>

<div id="index_container">
	<div id="top_panel">
		<div class="logo"> <img src="img/dogcrimes-med.png"> </div> 
		<div class= "nonmembers"> <h3> <p> Not a member? </p> <a href="/signup"> Sign Up! </a> </h3> </div>
		<div class= "members"> <h3> <p> Already a member? </p> <a href="/signin"> Sign In! </a> </h3> </div>
	</div>
</div>

<div id="index_body"> </div>