<% content_for :head do %>
  <title>DogCrimes</title>
<% end %>





<div id="mainCont">
	<div id="headerCont">
		<div id="logo"> 
			<img src="img/dogcrimes-med.png"> 
		</div> 

		<div id="memberHeaderInfo">
  				<p id="welcome">Welcome, Alana Walker!!!!!!!!!!!!!!!!</p>
  				<nav id="menu">
					<ul>
						<li><a href="/">Feed</a>
  						<li><a href="/profile">Profile</a></li>
  						<li><a href="/account">Account</a></li>
  				
					</ul>

				</nav>
  				
        </div>
		
	</div>
</div>
