<!DOCTYPE html>
<html>
<head>

    <% if content_for?(:head) %>
          <%= yield_content :head %>
    <% else %>
    	  <title>Dog Crimes</title>
    <% end %>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<% if content_for?(:bodySignup) %>
  <%= yield_content :bodySignup %>
<% else %>
  <body>
<% end %>

<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script type="text/javascript" src="main.js"></script> -->
</body>
</html>