<div id="main"
<h1>Sign Up:</h1>
<form class="form" method="POST" action="/">
		
			
			<label for="name">First Name</label><br>
				<input type="text" name="fname" id="fname" placeholder="Your First Name" />
			

			<label for="name">Last Name</label><br>
				<input type="text" name="lname" id="lname" placeholder="Your Last Name" />
				
		
			<label for="email">Email</label><br>
				<input type="text" name="email" id="email" placeholder="your@email.com" />
				

			<label for="username">User Name</label><br>
				<input type="text" name="username" id="username" placeholder="Your User Name" />

			<label for="password">Password</label><br>
				<input type="password" name="password" id="password" />	
				
			<input type="submit" value="Submit" />
			

</form>
</div>