<% content_for :head do %>
  <title>Sign In</title>
<% end %>


<% content_for :bodySignup do %>
  <body id="bodySignup">
<% end %>


<div id="login-main">
<img src="img/dogcrimes-med.png">


<div id="main">

	<% if flash[:notice] %>     
  		   <div class="notice">   
  			 <%=flash[:notice] %>     
  		   </div>   
  	<% end %>   
  
  <% if flash[:alert] %>     
  		<div class="alert">  
  			<%=flash[:alert] %>     
  		</div>   
  <% end %>

<h1>Sign In:</h1>

<form method="POST" action="/signin">
  <label for="username">Username</label><br>
  <input type="text" name="username" id="formField" ><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="formField"><br> 
  <input type="submit" class="btn" value="Submit">
</form>
<br>

</div>
</div>


