<!-- % content_for :css do

end -->

<div id="bodySignin">
<div id="main">
<h1>Sign In:</h1>

<form method="POST" action="/signin">
  <label for="username">Username</label>
  <input type="text" name="username" id="formField" placeholder="username">
  <label for="password">Password</label>
  <input type="password" name="password" id="formField">
  <input type="submit" value="Submit">
</form>

</div>
</div>


