
body{ 
 
  background: url(img/dog-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#formField {
	font-size:18px;
	height:20px;
	width:80%;
	
}
#main {
	
	width:25%;
	height:100%;
	border: 3px solid black;
	background-color: white;
	border-radius: 40px 40px 40px 40px;
	text-align: center;
	margin-top: 17%;
	margin-left: 15%;
	
}
.notice {
   width:20%;
	height:100%;
	border: 1px dotted grey;
	background-color: white;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	margin-top: 15%;
	margin-left: 15%;
}

.alert {
	   width:90%;
	height:100%;
	
	
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	color: red;
	text-decoration: bold;

}
