
  
#bodySignup { 
 
  background: url(img/dog-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-style: Georgia;
	font-size: 26px;
	color: black;
	text-align: center;

	margin-bottom:4px;
	margin-top:4px;
}


#formField {
	font-size:18px;
	margin-bottom: 5px;
	height:20px;
	width:60%;
	
}

#login-main{
width:28%;
margin-top:-2%;
margin-left: 15%;
}

#login-main img {
	width: 90%;
	margin-bottom:-5px;
}

/*------------ Button -------------*/

.btn {
  margin-top: 10px;
  color: #900;
  background: #ffffff;
  font-weight: bold;
  border: 1px solid #900;
}
 
.btn:hover {
  color: #FFF;
  background: #900;
}
/*------------ Button -------------*/

#main {
	
	width:90%;
	height:100%;
	border: 3px solid black;
	background-color: white;
	border-radius: 40px 40px 40px 40px;
	text-align: center;
	
	
}
.notice {
   width:20%;
	height:100%;
	border: 1px dotted grey;
	background-color: white;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	margin-top: 15%;
	margin-left: 15%;
}

.alert {
	   width:90%;
	height:100%;
	
	
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	color: red;
	text-decoration: bold;

}
